body {
    background-color: black;
    border-radius: 50%;
}

.popalsa {
    color: white;
    font-size: 250px;
    font-family: Burbank;
    text-align: center;
}

.invisible {
    color: black;
    font-size: 250px;
    text-align: center;
}

