
@font-face {
    font-family: Burbank;
    src: url(font/BurbankBigRegular-Bold.otf);
    font-style: normal;
}

body {
    font-family: Burbank;
}

nav {
    background-color: black;
    color: white;
}

